### Handling Imbalance Data

#### Basically we have two techniques for handling imbalance data
1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(123)

In [3]:
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0, n_class_1

(900, 100)

##### Create dataframe with imbalance dataset

In [6]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target': [0] * n_class_0
})

In [7]:
class_0

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [12]:
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=2,scale=1,size=n_class_1),
    'target': [1] * n_class_1
})

In [13]:
class_1

    feature_1  feature_2  target
0    1.044529   0.511859       1
1    2.553504   2.681797       1
2    3.689880   2.131427       1
3    1.737601   1.698183       1
4    1.197554   1.395398       1
..        ...        ...     ...
95   2.905453   2.198426       1
96   0.624559   2.546123       1
97   0.310209   2.812554       1
98   1.364118   1.717607       1
99   3.667026   2.726935       1

[100 rows x 3 columns]

In [17]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [19]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [21]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

#### Upsampling dataset

In [26]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [27]:
from sklearn.utils import resample

In [28]:
df_minority_upsampled = resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [29]:
df_minority_upsampled.shape

(900, 3)

In [30]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.681756   1.005308       1
992   0.847998   1.706856       1
914   0.606193   3.432838       1
971   3.135791   3.867001       1
960   1.538553   2.086212       1

In [32]:
df_usampled = pd.concat([df_majority,df_minority_upsampled])

In [37]:
df_usampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

#### Down sampling dataset

In [38]:
import numpy as np
import pandas as pd

In [39]:
np.random.seed(123)
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [41]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target': [0] * n_class_0
})


class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=2,scale=1,size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [42]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [47]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [48]:
df_majority_downsampled = resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)

In [49]:
df_majority_upsampled.shape

(100, 3)

In [51]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [53]:
df_downsampled.head()

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1